.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
}
.cards > ul > li:hover{box-shadow: var(--card-hover-shadow);}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {  
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;border-radius: 12px 12px 0 0;
}

/* this section for cream cards eyebor parts*/
.section.cream .cards .cards-card-body p:first-child,.section .cards .cards-card-body p:first-child
{background: var(--warm-orange);padding:0.25em 0.75em; color: var(--white-bg);
    width: auto;border-radius:0.75em;display: inline-block;line-height: 1.2;text-transform: uppercase;font-size:14px;font-weight: 500;text-shadow: 1px 0 0 var(--text-color);
}
.section.forest-green .cards .cards-card-body{background:transparent;text-shadow: none;color: #999e9c;}
.section.forest-green .cards > ul > li{background: #1d2722; color: #999e9c;border: 1px solid #474848;}
.section.forest-green .cards .cards-card-body h4{color:var(--white-bg);}
.section:not(.cream):not(.orest-green):not(.highlight):not(.hero-container){padding: 20px 0;}
.section:not(.cream):not(.forest-green):not(.highlight) .cards p ~ p{color: var(--green-text-color);}