footer {
  background-color: var(--footer-bg);
  font-size: var(--body-font-size-xs);
  color: var(--white-bg);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}
footer .footer > div > .section{background: transparent;}
footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
